version: '3.8'

services:
  imgr-serve:
    image: imgr-serve:latest
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3021:3021"
    env_file:
      - .env
    volumes:
      # Mount persistent storage directory if using Persistent storage implementation
      - imgr-serve_data:/app/data
    environment:
      - HOST=0.0.0.0
      - PORT=3021

volumes:
  imgr-serve_data:
    driver: local

